HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/.mvn/
/mvnw
/mvnw.cmd
/question-api/mvnw
/question-api/mvnw.cmd
/question-api/.mvn/
/telegram-bot-gateway/.mvn/
/telegram-bot-gateway/mvnw
/telegram-bot-gateway/mvnw.cmd
/telegram-bot-gateway/src/main/resources/telegram-bot-gateway-secret.properties
/telegram-bot-gateway/src/main/resources/telegram-bot-secret.properties
/question-api/src/main/resources/question-api-secret.properties
